<!-- <div class="container"> -->
  <!-- Slidable notice -->
  <!-- <div id="notice" class="row ">
    <div class="alert alert-danger alert-dismissible col-xs-8 col-xs-offset-2" role="alert">
      IMPROTANT NOTICE!
    </div>
  </div>
</div> -->

<!-- Main container -->
<div class="container">

  <div id="header-row" class="row"><!-- Header row -->
    <header class="col-12">
      <h1 class="text-center main-title">Alex Mamonov</h1>

      <h2 class="text-center main-title title-bottom">
        software engineer
      </h2>

      <nav class="navbar navbar-toggleable-sm navbar-light bg-faded" >

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#toggle-menu" aria-controls="toggle-menu"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <navigation id="toggle-menu" position="horizontal" class="collapse navbar-collapse"></navigation>

      </nav>

    </header>
  </div>

  <div id="main-row" class="row">
    <div class="col-12">

      <div class="row"><!-- Main content and navigation row -->

        <div class="col-12 col-md-11 main-style">
          <loading></loading>
          <ui-view ></ui-view>
        </div>


        <div id="nav-bg" class="hidden-sm-down col-md-1"> <!-- Nav column -->
          <nav class="navbar navbar-fixed-side">

            <navigation class="hidden-sm-down" position="vertical"></navigation>

          </nav>
        </div>
      </div>

    </div>


  </div> <!-- End of main row -->

</div><!-- End of main container -->

<footer class="text-center">
      &copy Alex Mamonov 2017.
      <a href="http://alex.crystacode.com/resume-p-u.pdf" target="_blank">Download resume</a>
</footer>
