<h3 class="description-header">General SE</h3>
<p>
  The first question you might ask, what exactly do I mean by term “general”.
</p>
<p>
  First of all, I include here everything that does not relate to a particular platform and/or final field of usage.
  Solving complex algorithmic problems is my favorite type of task.
  I have deep fundamental understanding of OOP, standard Data Structures and their customization, analyzing complexity and optimization.
  I am not afraid of math, statistics, probabilities, models, any kind of analysis, however did not use much of this knowledge in real life,
  especially recently, and they need some refreshment.
</p>
<p>
  Additionally, in my understanding, this could mean developing universal code: functions, classes, modules, libraries, microservices, etc.
</p>
<p>
  Finally, desktop applications. They could be for different purposes either.
  My experience here starts and ends with developing for Windows, using either .NET with C# or Java as applets.
</p>
<p>
  Following the style of this website, next I would like to add some retrospective information.
</p>
<p>
  Certainly, I started not in Windows, and even not in DOS.
</p>
<p>
  Before I had my first PC, I owned a kind of ZX Spectrum clone computer. So, my very first language was Basic.
  I do not remember anything from that time, except that it was fun ). On PC my first language was Pascal.
  I experimented with it pretty much. The most challenging thing was not the functionality itself, but creating the interface.
  For utilities usually was used text format with ASCII symbols to create some kind of window, buttons and so on.
  But for stuff like games - I tried to implement one board game – graphic mode was much more preferable.
  I even learnt assembler just with purpose to dive into the full depth, and did some elementary low-level stuff with it.
  However, it was long ago and not relevant to the current technologies.
</p>
<p>
  Under Windows, when it became almost full-functional OS, my coding attempts started with VBA under, mostly, MS Access.
  That was the time when there were no wide-used solutions for even simple business functionality like maintaining clients’ database
  and every company made its own custom, so did the company I worked for kind of Intern.
  A bit later, I came to Java and almost right after to .NET platform and C#. Since then I had no need of other technologies in terms of desktop applications. Occasionally used Python for solving just particular general problems. 
</p>
