<h3 class="description-header">Mobile development</h3>
<p>
Mobile platform were far away from my development scope for quite a while.
In particular, until Windows Phone 7.5 release.
Even more – until first Nokia smartphone with this OS – Lumia 800 – finally reached Ukraine. It was 2012.
I was almost completely satisfied with this mobile OS and still like it much more than Android and iOS,
and use on my primary phone.
Unfortunately, in Canada most of developers and service companies simply ignore this interesting operating system,
so I have to possess Android smartphone as secondary device.
</p>
<p>
In the same 2012 I started to learn the application development process for this platform.
It didn’t seem very hard as looked the same like developing desktop applications with WPF, just with mobile UI.
However, it appeared (as a surprise to me) that Silverlight,
which was the only available technology for Windows Phone development, was an extremely light version of .NET,
without some crucial built-in features. And the most challenges were to overcome this restriction.
Not that many open source libraries were available that days, so I even had to implement PNG encoding by myself.
Well, it was interesting to finally sort out with compression algorithms as well as CRC and PNG structure itself.
Definitely, mobile development was not my primary occupation. I made two application for internal use in the company I worked for
and only two apps published to the store under my name.
</p>
<p>
To not re-describe them, I simply throw the store links here:
</p>
<br>
<div class="row text-center">
  <div class="col-12 col-sm-6 text-center store">
    <a href="http://www.windowsphone.com/s?appid=43e728e9-78b1-4574-bc22-9f1c81f23f87" target="_blank">
      <img src="/images/wpStore.png" alt="MS store icon"><br>
      <span class="app-name">How many days</span>
    </a>
  </div>
  <div class="col-12 col-sm-6 text-center store">
    <a href="http://www.windowsphone.com/s?appid=a17a4ee3-74b3-48fd-beda-d11ebe79cc0f" target="_blank">
      <img src="/images/wpStore.png" alt="MS store icon"><br>
      <span class="app-name">Manual counter</span>
    </a>
  </div>
</div>
<br>
<p>
These apps were not planned to make me a billionaire and was based on the tasks I needed for my own purposes.
I simply supposed that there are people in the world, who might have the same problems and not having the right tool.
That is why (and also because I am not a good marketer) they didn’t earn me much money, but people liked them (those who need).
It happened that most of their users are from Russia and their rating in American stores is far from excellent,
so I will show dashboard screenshots with cumulative ratings (actually, there were much more rates and reviews,
however they are not showing any more after a few MS dev dashboard changes):
</p>
<br>
<div class="row text-center">
  <div class="col-12 text-center col-lg-6 text-lg-right">
    <zoom-image path="/images/mobile/hmd-rate.png"></zoom-image>
  </div>
  <div class="col-12 text-center col-lg-6 text-lg-left">
    <zoom-image path="/images/mobile/mc-rate.png"></zoom-image>
  </div>
</div>
<br>
<p>
As you may know from profile page, there was a third project. It was the manager of personal finances.
Yet again, I needed it for myself as no existing manager implements all the features I need and/or not the convenient way.
Some of them are overloaded with features and too complex for everyday use, others easy and fast to use, but too simple.
My core idea was in building modularized app, where a user could turn on and off the modules.
The activation of module should not only add features on separate pages, but change one or all of:
menu items (supposed to be partly customizable), interface and functionality of core pages as well as dependent modules’ appearance.
So, the general idea was in finding balance among functionality, customization and simplicity of use.
However, there were reasons to switch to game development exclusively. Initially, I planned to do both projects,
but it was too much for a single person.
</p>
