<div id="main-frame">

  <section class="row"><!-- Head information section -->
    <div class="col-12 col-sm-6"> <!-- Photo section -->
      <img id="photo" src="images/m.photo.500.jpg" alt="photo">
    </div>

    <div id="bullets" class="col-12 col-sm-6"><!-- Bullets section -->
      <ul>
        <li ng-repeat="bullet in profileCtrl.bullets"><h3 class="bullet">{{::bullet}}</h3></li>
      </ul>
    </div>
  </section>

  <section class="col-12 description" >
    <p>
      Hi there!
    </p>
    <p>
      This page is intended to provide some informal information about me as a person.
    </p>
    <hr>
    <p class="note">
      You are welcome to make a quick jump to a page about one of my specializations or use footer link to download my resume.
      At the current moment the site is not finished completely and has only web-development specialization page.
    </p>
    <hr>
    <p>
      My name is Alex. I was born and grew up in Ukraine.
      As most of software engineers, my first programming attempts started as soon as I got my first PC in 1994, and first website development experience as soon as I was connected to the Internet in 1998.
      The first time I was paid for software development in 2001 - it is the point I count my professional experience from, so it is more than 15 years for now.
      During all these years, I specialized mostly in two subfields: web development and application development for Windows platform. In 2012 I decided to try some mobile app development, however I did it for Windows Phone platform exclusively, which is totally ignored here in Canada, so I do not mention about this much.
      Actually, I shipped two small pilot apps and they even had some income. My third one was intended to bring up success to the next level, but I reviewed my strategy and decided to switch to game development after moving to Canada in late 2015.
      By this I tried to embody my long-lasting passion to create games and started to develop my own project. Unfortunately, I underestimated all the challenges and mostly all the roles I should have covered by myself both in development process and doing marketing and management, so that my time-money resource ran out long before the planned project stage was achieved.
      That is why this project is now indefinitely frozen.
    </p>
    <p>

    </p>
    <p>
      One more item I think is worth to be covered here - the absence of portfolio. If fact this is the main reason for creating this demo site. The problem is that most of the work I did was under NDA. On the other hand, all side projects I remember as well as my own ones are all dead. And I was so excited going to the new life to Canada... with this slogan erased all the old archives.
    </p>
  </section>

</div>
