<h3 class="description-header">Web development</h3>
<p>
  This page is dedicated to my experience in web development. The first naive webpage I created a couple of months after I bought dial-up modem and got the connection to the Net. It was in late 1998.
  My older brother had a web-desing studio those days and a few next years I did some tasks for them. So, my webdev experience started even more than 15 years ago, yet I do not count it as that work was on occasional spare-time basis.
  In that times we created static pages using only HTLM+CSS. The most challenging was the size of each, espesially home, page due to low connection speed, while every customer wanted to have beautiful site with lots of images.
  It was the dusk of trend for using HTML frames as search engines were displacing directories and search result links usually led to only a part of framed webpage, making user experience far from happiness especially in cases when the page appeared without navigation.
  The new trend was to use table and frame-like behaviour had to be implemented in JavaScript. In a while, websites aka &quotonline business card&quot with only a few pages, started to be replaced with more complex solutions, which needed database and/or quite a number of pages so the era of dynamic backend started.
  We used mostly PHP+MySQL for backend with more and more JavaScript to add more and more dynamic to frontend without full page reload.
  Much later, when people started to use many other backend technologies, it happened that I concentrated my efforts on frontend. Definitely, I can start doing backend or fullstack very quick, but it is no like &quotfrom tomorrow in full strength&quot.
  As for the frontend, I didn't spread my attention much and prefered the style of plain HTML+CSS+JS, however around tree years ago tried Bootstrap and just after AngularJS, so these frameworks are completely within my skills.
  Learning fast any other framework or technology is not a problem at all, simply had no need for this.
</p>
<p>
  This site is intentionally overfilled with technologies in order to show my skills in frontend. The intention was also in filling content both by using additional AJAX call and just placing text inside the subpage template.
  One should not pay much attention to design, because it is my own and I have never been a good designer.
  It fully implements the concept of responsive one-page website:
  <ul>
    <li>The responsiveness and a part of formatting was made with Bootstrap 4 (alpha 6).</li>
    <li>One-page behavior is implemented with AngularJS and UI-router add-on.</li>
    <li>Most of styling as well as animation was made with plain HML+CSS.</li>
  </ul>
  The full source code is available
  <a href="https://github.com/strannikca/profile" target="_blank">here</a>.
  <br>
  The repository contains all the files, including JSON file as well as unit tests, using Jasmine.
  I did not minified (or uglified) the files, however they are completely ready for the process.
</p>
